.doc-container {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: 0 auto;
    background-color: var(--background-100);
}

.doc-toc-container {
    position: sticky;
    margin-top: 5em;
    top: 5em;
    height: fit-content;
}

.doc-toc {
    border-left: 3px solid var(--plum-purple-500);
    list-style-type: none;
    width: 15em;
    color: #fff;
    text-align: left;
    background-color: var(--background-200);
    border-radius: var(--radius-radius2);
    padding: 2em;
}

.doc-toc li {
    list-style: none;
    margin: 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.doc-toc ol {
    padding-left: 20px;
    margin-top: 5px;
    font-weight: 400;

    font-size: 0.9rem;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.doc-toc li {
    text-decoration: none;
    font-weight: 500;
    text-decoration: underline;
}

.doc-toc a:hover {
    color: var(--plum-purple-500);
}

.doc-toc a.active {
    color: var(--plum-purple-500);
    font-weight: bold;
    padding-left: 5px;
    border-left: 3px solid var(--plum-purple-500);
}

.doc-toc a.active::before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--plum-purple-500);
}

.doc-content-date {
    font-size: 0.8em;
    float: right;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-content {
    text-align: left;

    width: 60%;

    line-height: 1.6;
    font-size: 1.1em;
    color: #fff;
}

.doc-content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--plum-purple-500);
}

.doc-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--plum-purple-500);
}

.doc-content h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--plum-purple-500);
}

.doc-content h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--plum-purple-500);
}

.doc-content h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--plum-purple-500);
}

.doc-content h6 {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--plum-purple-500);
}

.doc-content p {
    margin-bottom: 1.2em;
}

.doc-content p a {
    color: var(--plum-purple-800);
    text-decoration: underline;
}

.doc-content strong {
    font-weight: bold;
    color: var(--plum-purple-700);
}

/* overriding theme-docs .line class */
.line {
    opacity: 100%;
    height: 20px;
}

.doc-content pre {
    background-color: #2d2d2d;
    padding: 1.5em;
    border-radius: var(--radius-radius4);

    overflow-x: auto;
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.doc-content figure {
    margin: 2em 0 2em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: min-content;
    max-width: 100%;
}

.doc-content figure figcaption {
    font-size: 0.8em;
    color: var(--color-gray-900);
    margin-top: 0.5em;
}

.doc-content figure img {
    margin: 0;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    height: auto;
    border-radius: var(--radius-radius2);

}

.doc-content li {
    margin-bottom: 1.2em;
    margin-left: 1em;

    list-style-type: disc;
    list-style-position: inside;
}

.doc-content li::marker {
    color: var(--plum-purple-700);
    font-size: 1.2em;
}

.doc-content ol {
    margin-bottom: 1.2em;

    list-style-type: decimal;
    list-style-position: inside;

    font-size: 1.1em;
}

.doc-content ul {
    margin-bottom: 0.5em;
    color: #fff;
}

.doc-content blockquote {
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: var(--background-200);
    border: 1.5px solid var(--plum-purple-400);
    border-radius: var(--radius-radius2);
}

.not-centered {
    text-align: left;
}




@media (max-width: 768px) {
    .doc-container {
        flex-direction: column;
    }

    .doc-content {
        width: 100%;
        margin-top: 5em;
    }

    .doc-toc-container {
        display: none;
    }

    .doc-content figure img{
        width: 100%;
    }
}