.home-hero {
    gap: var(--space-fiveunits);
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
    padding-top: var(--space-fourunits);
    padding-left: var(--space-fiveunits);
    padding-right: var(--space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--space-sixunits);
}

.home-heading10 {
    gap: var(--space-twounits);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-header11 {
    color: rgb(255, 255, 255);
    font-size: 5.5em;
    max-width: 900px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 1.5em;
}

.home-caption10 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    max-width: 800px;
    text-align: center;
    line-height: 36px;
}

.home-buttons {
    gap: var(--space-threeunits);
    display: flex;
    align-items: center;
    flex-direction: row;
}

ul.home-bullet-list {
    list-style: none;
    padding-left: 0;
    color: black;
}

ul.home-bullet-list li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: var(--size-xsmall);
    line-height: 1.6;

}

ul.home-bullet-list li:before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
    color: var(--radius-round);
}

ul.home-bullet-list li:before {
    transform: scale(1.2);
    transition: color 0.3s ease, transform 0.3s ease;
}

.home-container4 {
    width: 100%;
    max-width: 1440px;

    display: grid;
    align-items: center;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
}

.home-card11 {
    gap: var(--space-twounits);
    display: flex;
    align-items: right;
    flex-direction: column;
    width: fit-content;

    padding-top: var(--space-sixunits);
    padding-left: var(--space-fourunits);
    padding-right: var(--space-fiveunits);
    padding-bottom: var(--space-fourunits);

    background-color: var(--plum-purple-900);
}

.home-content12 {
    gap: var(--space-oneunit);
    height: auto;
    display: flex;
    max-width: 480px;
    align-items: flex-start;
    flex-direction: column;
}

.home-description11 {
    width: auto;
    height: 100%;
    margin: auto;

    display: flex;

    gap: var(--space-fiveunits);

    padding-left: var(--space-fiveunits);
    padding-right: var(--space-fiveunits);
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

.home-description10 {
    gap: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-bottom: var(--space-twounits);
    font-size: var(--size-xsmall);
}

.home-bubble {
    width: 60px;
    height: 60px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: var(--radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #EC7495;
}

.home-paragraph1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 60px;

}

.home-paragraph2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    line-height: 60px;

    font-style: italic;
}


.home-comings {
    height: 100%;
    width: 100%;
    margin-left: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-comings-text {
    font-style: italic;
    font-weight: 600;
    font-size: xx-large;

    justify-content: center;
    text-align: center;

    color: var(--background-1000);
}

.home-header13 {
    color: rgb(0, 0, 0);
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
}

.home-collection {
    gap: var(--space-fiveunits);
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: flex-start;
    padding-left: var(--space-fiveunits);
    padding-right: var(--space-fiveunits);
    flex-direction: column;
    padding-bottom: 60px;
}

.home-content14 {
    gap: var(--space-threeunits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.home-heading11 {
    gap: var(--space-twounits);
    width: 100%;
    display: flex;

    align-items: flex-start;
    flex-direction: column;
}

.home-header15 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 500;
    letter-spacing: 2px;
}

.home-header16 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: italic;
}

.home-main4 {
    gap: var(--space-twounits);
    width: 100%;
    display: grid;
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
}

.home-roadmap {
    gap: var(--space-fiveunits);
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
    padding-left: var(--space-fiveunits);
    padding-right: var(--space-fiveunits);
    flex-direction: column;
    padding-bottom: 120px;
}

.home-heading14 {
    gap: var(--space-twounits);
    width: 100%;
    display: flex;
    max-width: 640px;
    align-items: center;
    flex-direction: column;
}


.home-header21 {
    color: rgb(255, 255, 255);
    font-size: 90px;
    max-width: 900px;
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
}

.home-header22 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}





@media(max-width: 991px) {
    .home-card11 {
        width: 100%;
    }

    .home-main4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-card11 {
        scale: 0.8;
    }

    .home-container4 {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media(max-width: 767px) {
    .home-hero {
        padding-top: var(--space-threeunits);
        padding-left: var(--space-oneandhalfunits);
        padding-right: var(--space-oneandhalfunits);
        padding-bottom: var(--space-twounits);
    }

    .home-card11 {
        padding-top: var(--space-threeunits);
        padding-left: var(--space-oneandhalfunits);
        padding-right: var(--space-oneandhalfunits);
        padding-bottom: var(--space-threeunits);
    }

    .home-heading10 {
        gap: var(--space-oneunit);
    }

    .home-header11 {
        font-size: 36px;
        max-width: 70%;
        line-height: 43px;
    }

    .home-caption10 {
        font-size: 16px;
        line-height: 24px;
    }

    .home-description10 {
        gap: var(--space-threeunits);
        padding-bottom: 0px;
    }

    .home-description11 {
        gap: var(--space-threeunits);
        padding-left: var(--space-threeunits);
        padding-right: var(--space-threeunits);
    }

    .home-paragraph1 {
        font-size: 20px;
        line-height: 30px;
    }

    .home-paragraph2 {
        font-size: 20px;
        line-height: 30px;
    }

    .home-card11 {
        gap: var(--space-oneandhalfunits);
        padding-top: var(--space-threeunits);
        padding-left: var(--space-oneandhalfunits);
        padding-right: var(--space-oneandhalfunits);
        padding-bottom: var(--space-threeunits);
    }

    .home-main2 {
        gap: var(--space-oneandhalfunits);
    }

    .home-header13 {
        font-size: 24px;
    }



    .home-collection {
        gap: var(--space-fourunits);
        padding-left: var(--space-oneandhalfunits);
        padding-right: var(--space-oneandhalfunits);
    }

    .home-content14 {
        gap: var(--space-oneandhalfunits);
    }

    .home-heading11 {
        gap: var(--space-oneunit);
    }

    .home-header15 {
        font-size: 32px;
        letter-spacing: 0;
    }

    .home-header21 {
        font-size: 32px;
        letter-spacing: 0;
    }

    .home-header22 {
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0;
    }

    .home-header16 {
        font-size: 14px;
        line-height: 21px;
    }

    .home-heading14 {
        gap: var(--space-oneunit);
    }

}

@media(max-width: 479px) {
    .home-main4 {
        grid-template-columns: repeat(1, 1fr);
    }

}